.loginFormContainer {
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin-inline: 24px;
  justify-items: center;
}

.loginFormContainer--logo {
  display: none;
}

.loginFormContainer--title {
  font-size: var(--lg);
  margin-block-start: 0;
  margin-block-end: 8px;
  text-align: center;
}

.loginFormContainer--subtitle {
  font-size: var(--md);
  margin-block-start: 0;
  margin-block-end: 32px;
  text-align: center;
}

.logindFormContainer--email {
  width: 180px;
  height: 180px;
  background-color: var(--text-imput-field);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-end: 24px;
}

.logindFormContainer--email img {
  width: 80px;
}

.loginFormContainer--resend span {
  color: var(--very-light-pink);
}

.loginFormContainer--resend a {
  color: var(--hospital-green);
  font-weight: bold;
  text-decoration: none;
}

.loginFormContainer--form {
  display: flex;
  flex-direction: column;
}

.loginFormContainer--form__label {
  font-size: var(--md);
  font-weight: bold;
  margin-block-end: 6px;
}

.loginFormContainer--form__input {
  margin-block-end: 12px;
  font-size: var(--md);
  border: none;
  height: 30px;
  padding-inline: 8px;
  border-radius: 8px;
  background-color: var(--text-imput-field);
}

.loginFormContainer--form__input {
  margin-block-end: 12px;
}

.loginFormContainer--form__submit {
  width: 100%;
  padding-block: 14px;
  border-radius: 8px;
  font-size: var(--md);
  font-weight: bold;
  color: var(--white);
  background-color: var(--hospital-green);
  border: none;
  font-family: "Quicksand", sans-serif;
}

.primary-button {
  width: 100%;
  padding-block: 14px;
  border-radius: 8px;
  font-size: var(--md);
  font-weight: bold;
  color: var(--white);
  background-color: var(--hospital-green);
  border: none;
  font-family: "Quicksand", sans-serif;
}

@media (max-width: 640px) {
  .loginFormContainer--logo {
    display: block;
    width: 70%;
    margin: 0 auto;
    padding-block-end: 60px;
  }
}
